<!DOCTYPE html>
<html>
    <head>
		<style>
			.marginbtm {
			    margin-bottom: 20px;
			}
			.marginbtm2 {
			    margin-bottom: 10px;
			}			
		</style>    
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Cielo Linhas Aéreas</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
    <div class="container">
        <div class="jumbotron" align="center" style="margin-top: 50px;">
            <h2 class="marginbtm">Seja bem-vindo à</h2>
            <h1 class="marginbtm">Cielo Linhas Aéreas</h1>
            <div class="marginbtm" align="center">
                <a href="listaaeronaves" class="btn btn-lg btn-primary">Cadastro Aeronaves</a>            
                <a href="listarotas" class="btn btn-lg btn-primary">Cadastro De Rotas</a>
            </div>
            <div class="marginbtm2"  align="center">
                <a href="xxx" class="btn btn-lg btn-success">RESERVAR PASSAGEM</a>
            </div>
            <div class="marginbtm2"  align="center">
                <a href="listareservas" class="btn btn-lg btn-info">Consultar Reservas</a>
            </div>                 
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>